.el-table {
    font-size: 12px;
    text-align: left;
    border:none;
}
.el-table tr{
  background: $color_back2;
  border:none;
}
.el-table__body tr.current-row > td{
  background-color:#0f121f;
  border:none;
}
.el-table--enable-row-hover .el-table__body tr:hover>td{
  background-color:#0f121f;
  border:none;
}
.el-table th,.el-table tr{
  background: $color_back2;
  border:none;
}
.el-table td,.el-table th.is-leaf{
  border:none;
  color:#aeb9d8;
}
.el-table--border, .el-table--group{
  border: none;
}

.customer-table::before{
  width: 0;
}

.green{
  color: #00aa00;
}

.red{
  color: #aa0000;
}

.color_front1{
  color:$color_front2;
}