.el-table {
    font-size: 12px;
    text-align: left;
    border:none;
}
.el-table tr{
  background: $color_back2;
  border:none;
}
.el-table__body tr.current-row > td{
  background-color:#0f121f;
  border:none;
}
.el-table--enable-row-hover .el-table__body tr:hover>td{
  background-color:#0f121f;
  border:none;
}
.el-table th,.el-table tr{
  background: $color_back2;
  border:none;
}
.el-table td,.el-table th.is-leaf{
  border:none;
  color:#aeb9d8;
}
.el-table--border, .el-table--group{
  border: none;
}

.el-tabs__item{
    color:#ffffff;
}
.el-tabs__item.is-active {
    color: #ffffff;
}
.el-tabs__item:hover {
    color: #ffffff;
    cursor: pointer;
}

.customer-table::before{
  width: 0;
}


.el-tabs__nav-scroll{
    background:$color_back3;
    padding-left:12px;
}

.green{
  color: #00aa00;
}

.red{
  color: #aa0000;
}

.back2{
    background:$color_back2;
}

.back3{
    background:$color_back3;
}

.app{
    color:$color_front1;
}
.color_front1{
  color:$color_front2;
}